<h1 class="banner">Questions#ask</h1>

<form action="answer">
  <input type="text" name="question">
  <input class="button" type="submit" value="Ask!">
</form>

<p>Find me in app/views/questions/ask.html.erb</p>
